* {
    font-family: "Verdana", Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

body {
  background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px,
    #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px,
    #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

/*Title*/

h1 {
  font-size:3em;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 0px;
}

h1 span {
  display:inline-block;
}

span:nth-child(4n-3) {
  color:hsl(242, 75%, 55%);
  text-shadow:1px 1px hsl(242, 75%, 45%),
  2px 2px hsl(242, 45%, 45%),
  3px 3px hsl(242, 45%, 45%),
  4px 4px hsl(242, 75%, 45%);
  margin-left: .5em;

}

span:nth-child(4n-1) {
  color:hsl(194, 35%, 55%);
  text-shadow:1px 1px
  hsl(194, 35%, 45%), 2px 2px
  hsl(194, 35%, 45%), 3px 3px
  hsl(194, 35%, 45%), 4px 4px
  hsl(194, 35%, 45%);
  margin-left: .5em;

}

span:nth-child(4n-2) {
  color:hsl(194, 100%, 89%);
  text-shadow:1px 1px
  hsl(194, 100%, 79%), 2px 2px
  hsl(194, 100%, 79%), 3px 3px
  hsl(194, 100%, 79%), 4px 4px
  hsl(194, 100%, 79%);
  margin-left: .5em;


}

span:nth-child(4n) {
  color:hsl(239, 100%, 89%);
  text-shadow:1px 1px
  hsl(239, 100%, 79%), 2px 2px
  hsl(239, 100%, 79%), 3px 3px
  hsl(239, 100%, 79%), 4px 4px
  hsl(239, 100%, 79%);
  margin-left: .5em;

}

span:nth-child(6) {
  margin-left: .2em
}

span:nth-child(11) {
  margin-left: .2em
}

/*top menu*/

.topmenu {
    font-family: monospace;
    position:absolute;
    top: 0;
    left: 92vw;
}

ul {
  background: hsla(188, 0%, 11%, 1);
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 6vw;
    text-align: center;
    text-decoration: none;
}

li {
    float: left;
    padding: 1rem;
    transition-duration: 0.5s;
    width: 6vw;
    text-align: center;
}

li a {
    color: #fff;
    text-decoration: none;
}

li ul li:hover,
li ul li:focus-within {
    background: green;
    cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
    background: hsla(188, 0%, 11%, 1);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
    color: #fff;
    background: hsla(188, 0%, 11%, 1);
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    width: 6vw;
    text-align: center;
}

/*text*/

.text {
    color: #ffffff;
    background: hsla(188, 0%, 11%, 1);
    box-shadow:0 0 50px -12px #000;
    width:54vw;
    text-align: justify;
    padding-left:2vw;
    padding-right:3vw;
    padding-top: 2vh;
    padding-bottom:2vh;
    margin-top: 5vh;
    float: left;
}

/*images*/

.images {
  box-shadow:0 0 50px -12px #000;
  margin-top: 5vh;
  float: left;
  width: 38vw;
  margin-left:.5vh;
}
